#survey-form, #result {
  display: none;
}

#result ul {
  display: none;
}

.jumbotron {
  margin: 30px;
  background-color: #e5f3ff;
  text-align: justify;
  box-shadow: 3px 3px 2px #7487a5;
}

h1 {
  text-align: center;
  font-weight: bold;
}

#start {
  margin: 30px;
}

.well {
  background-color: #e5f3ff;
  margin: 30px;
  box-shadow: 3px 3px 2px #7487a5;
}

form {
  margin-top: 20px;
}

label {
  font-size: 18px;
}

#survey-form h4 {
  font-weight: bold;
}

#submit-button {
  margin-top: 25px;
}

h2 .suggestion {
  background-color: #fcfbbd;
  color: #db3030;
  font-weight: bold;
}
